{% extends "base.html" %}
{% block content %}
<p>センサー登録</p>
<form method="post" action="update">
    <table>
        <thead>
            <tr>
                {% if sensor|length > 0 %}
                <td>センサーID</td>
                {% endif %}
                <td>センサー名</td>
                <td>説明</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if sensor|length > 0 %}
                <td>
                    {{sensor.sensor_id}}
                </td>
                {% endif %}
                <td>
                    <input type="text" name="sensor_name" value="{{sensor.sensor_name}}">
                </td>
                <td>
                    <input type="text" name="description" value="{{sensor.description}}">
                </td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" name="sensor_id" value="{{sensor.sensor_id}}">
    <input type="submit" value="登録">
</form>
{% endblock %}